<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add products</title>
</head>
<body>
    <form method="" action="">
        <table>

            <tr>
                <td> prodect name:</td>
                <td>
                    <input type="text" name="pname">
                </td>
            </tr>

            <tr>
                <th> catagory:</th>
                <td>
                    <select name="cat">
                        <option value="1">mobile</option>
                        <option value="2">cloths</option>

                    </select>
                </td>
            </tr>

            <tr>
                <td> status:</td>
                <td>
                    <input type="radio" name="status" value="1">active
                </td>
                <td>
                    <input type="radio" name="status" value="2">deactive
                </td>
            </tr>

            <tr>
                <td> <button type="submit">save</button></td>
                
            </tr>

        


        </table>


    </form>
</body>
</html>