<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>seller dashboard</h1>
    <p>
        <a href="/addproduct">Add product</a>
    </p>
    <table border="1" align="center">
        <tr>
            <th>sr.no</th>
            <th>produt name</th>
            <th>categor</th>
            <th>price</th>
            <th>status</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        
         {% for x in data %} 
         <tr>
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>  

            
            {% if x.cat == '1'  %}
            <td>Mobile</td>
            {% else %}
            <td>Cloths</td>
            {% endif %}
             

            <td>{{x.price}}</td>

            {% if x.status == '1'  %}
            <td>Active</td>
            {% else %}
            <td>deactive</td>
            {% endif %}
             
            <td><a href="/edit/{{x.id}}">Edit</a></td>
            <td><a href="/delete/{{x.id}}">Delete</a></td>
         </tr>
         {% endfor  %}
    </table>

    <div>
        <h2>filter by status</h2>
        <p><a href="/dash">All</a></p>
        <p><a href="/statfilter/1">Active</a></p>
        <p><a href="/statfilter/0">Inactive</a></p>
    </div>

    <div>
        <h2>Filter by Category</h2>
        <p><a href="/dash">All</a></p>
        <p><a href="/catfilter/1">Mobile</a></p>
        <p><a href="/catfilter/2">Cloths</a></p>
    </div>

    <div>
        <h2>Sort by Price</h2>
        <p><a href="/sort/1">High to Low</a></p>
        <p><a href="/sort/0">Low to Low</a></p>
    </div>

    <div>
        <h2>Filter by Price</h2>
        <p><a href="/filprice/1">> 12000</a></p>
        <p><a href="/filprice/2"> < 12000</a></p>
    </div>

    <div>

        <form method="POST" action="/multifilter">
            {% csrf_token %}

            <h2>Filter by Category</h2>
            <p><input type="radio" name="category" value="1" id="">Mobile</p>
            <p><input type="radio" name="category" value="2" id="">Cloths</p>

            <h2>Filter by Status</h2>
            <p><input type="radio" name="status" value="1" id="">Active</p>
            <p><input type="radio" name="status" value="0" id="">Inactive</p>

            <p><input type="submit" value="Applay"></p>


        </form>
    </div>

</body>
</html>