{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <title>Static Files</title>
</head>
<body>
    <h1>Static File configuration </h1>
    <img src="{% static 'images/mvt.png' %}" width="800" height="300" alt= "">
    <br>
    <button onclick="hello()">click me</button>
</body>
</html>